<div class="text-white flex items-center justify-center py-2" x-data="carouselFilter()">
    <div class="container grid grid-cols-1">
        <div class="flex py-12 justify-center">
            <a :class="{ 'text-gray-800': active != 0 }" @click.prevent="changeActive(0)" class="px-2 text-gray-700 text-lg uppercase font-bold tracking-widest hover:text-black" href="#">Carousel</a>
        </div>

        <div class="row-start-2 col-start-1" x-show="active == 0" x-transition:enter-end="opacity-100 transform scale-100" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter="transition ease-out duration-300" x-transition:leave-end="opacity-0 transform scale-90" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300">
            <div class="grid grid-cols-1 grid-rows-1" x-data="carousel()" x-init="init()" height="600">
                <div class="col-start-1 row-start-1 relative z-20 flex items-center justify-center pointer-events-none">
                    {% for block in section.blocks %}
					{% assign item_title = block.settings.title %}					
						 <h1 class="absolute uppercase font-black text-lg text-black md:text-5xl md:text-white tracking-widest" x-show="active == {{ forloop.index0 }}" x-transition:enter-end="opacity-100 transform translate-y-0" x-transition:enter-start="opacity-0 transform translate-y-12" x-transition:enter="transition ease-out duration-300" x-transition:leave-end="opacity-0 transform -translate-y-12" x-transition:leave-start="opacity-100 transform translate-y-0" x-transition:leave="transition ease-out duration-300">{{ item_title }}</h1>
					
                    {% endfor %}
                </div>
                <div class="carousel col-start-1 row-start-1" x-ref="carousel">
                    {% for block in section.blocks %}
                        {% assign item = block.settings.carousel_image %}
                        <div class="carousel-cell w-3/5 px-2">
                            {{ item | image_url: width: 1000 | image_tag: sizes: '40vw', preload: true }}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

<style>



</style>
{% schema %}

{
    "name": "Carousel",
    "tag": "section",
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Image"
                }, {
                    "type": "image_picker",
                    "id": "carousel_image",
                    "label": "Carousel Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel"
        }
    ]
}

{% endschema %}