<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext_title }}</p>
test


{% schema %}
{
"name": "Template 404",
"settings": [
{
"type": "text",
"id": "title",
"default": "404",
"label": "404 Heading Title"
},
{
"type": "text",
"id": "subtext_title",
"default": "The page is not found",
"label": "Subtext Title"
}
]
}
{% endschema %}