<div class="px-4 py-8">
    {% paginate collection.products by section.settings.products_per_page %}
        <h1 class="text-3xl text-center">{{ collection.title }}</h1>
        
        {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

        <div class="max-w-6xl mx-auto">
          <div class="flex">
            <div class="w-3/12 mr-4">
              {% render 'filters' %}
            </div>
  
            <div class="w-9/12">
              <div id="productGrid" class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                    {% render 'product-card', product: product %}
                {% endfor %}
            </div>
            </div>
          </div>  
          {% render 'pagination', pagination: paginate %}  
        </div>   
        
    {% endpaginate %}
</div>

<style>
  .filter-form .filter-group[open] svg {
	transform: rotate(-90deg)!important;
}
</style>
{% schema %}

{
    "name": "Template collection",
    "settings": [
        {
            "type": "number",
            "id": "products_per_page",
            "default": 6,
            "label": "Number of products per page"
        }
    ]
}

{% endschema %}